/* Write your CSS here */
.container {
  background-color: #ffffff;
  height: 100vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-radius: 7px;
}
.h1 {
  color: #0f172a;
  font-size: 36px;
}
.p1 {
  color: #1e293b;
  font-size: 25px;
}
.p2 {
  color: #334155;
  font-size: 18px;
}
.btn {
  background-color: #ffffff;
  border-width: 0px;
  padding: 10px;
  border-radius: 7px;
}
